footer.footer.container
  .footer__top
    a.footer__logo QWERy
    .ready
      p.ready__text Ready to explore?
      button.ready__button Get started

  .footer__middle
    .email-request
      .email-request__header Let's go on vacation, Make your day
      form.email-request-form
        input.email-request-form__email(type="text" placeholder="Email address")
        button.email-request-form__btn(type="submit") &gt;

    .footer__menu
      .footer__menu-section
        .footer__menu-section-title Services
        ul.footer__menu-section-list
          li
            a.footer__menu-section-link(href="#0") Email Marketing
          li
            a.footer__menu-section-link(href="#0") Campaigns
          li
            a.footer__menu-section-link(href="#0") Branding
          li
            a.footer__menu-section-link(href="#0") Offline
      .footer__menu-section
        .footer__menu-section-title About
        ul.footer__menu-section-list
          li
            a.footer__menu-section-link(href="#0") Our Story
          li
            a.footer__menu-section-link(href="#0") Benefits
          li
            a.footer__menu-section-link(href="#0") Team
          li
            a.footer__menu-section-link(href="#0") Careers
      .footer__menu-section
        .footer__menu-section-title Help
        ul.footer__menu-section-list
          li
            a.footer__menu-section-link(href="#0") Help
          li
            a.footer__menu-section-link(href="#0") Contact Us
  nav.footer__nav
    .terms
      a.terms__link(href="#0") Terms & Conditions
      a.terms__link(href="#0") Privacy Policy
    ul.social-list.footer__social
        li
          a.social__link(href="#0")
            svg.social__icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none")
              <path d="M7.8 2h8.4A5.8 5.8 0 0 1 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8A5.8 5.8 0 0 1 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2Zm-.2 2A3.6 3.6 0 0 0 4 7.6v8.8A3.6 3.6 0 0 0 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6A3.6 3.6 0 0 0 16.4 4H7.6Zm9.65 1.5a1.25 1.25 0 1 1 0 2.5 1.25 1.25 0 0 1 0-2.5ZM12 7a5 5 0 1 1 0 10 5 5 0 0 1 0-10Zm0 2a3 3 0 1 0 0 6 3 3 0 0 0 0-6Z"/>
        li
          a.social__link(href="#0")
            svg.social__icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none")
              <path d="M22.918 6.012a8.58 8.58 0 0 1-2.464.676 4.305 4.305 0 0 0 1.886-2.374 8.591 8.591 0 0 1-2.725 1.041 4.292 4.292 0 0 0-7.313 3.914 12.184 12.184 0 0 1-8.846-4.483 4.271 4.271 0 0 0-.58 2.157 4.29 4.29 0 0 0 1.908 3.572 4.276 4.276 0 0 1-1.943-.537v.054c0 2.08 1.479 3.814 3.442 4.209a4.296 4.296 0 0 1-1.938.073 4.296 4.296 0 0 0 4.009 2.98 8.61 8.61 0 0 1-5.33 1.838c-.347 0-.688-.02-1.024-.06A12.147 12.147 0 0 0 8.579 21c7.894 0 12.21-6.54 12.21-12.21 0-.187-.004-.372-.012-.556a8.719 8.719 0 0 0 2.141-2.222Z"/>
        li
          a.social__link(href="#0")
            svg.social__icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none")
              g(clip-path="url(#a)")
                <path d="M14.992 5.819H17V2.162C16.654 2.112 15.462 2 14.074 2 11.18 2 9.195 3.904 9.195 7.404v3.221H6v4.088h3.195V25h3.918V14.714h3.066l.486-4.088h-3.553V7.809c0-1.181.305-1.99 1.88-1.99Z"/>
              defs
                clipPath(id="a")
                  <path d="M0 0h24v24H0z"/>

  .copyright Copyright 2021 QWERy