@import '../vendor/fonts/fonts.scss';
@import '../components/header/header';
@import '../components/footer/footer';

.page {
  background-image:
    image-set(
      url("../../images/head_bg.webp") type("image/webp"),
      url("../../images/head_bg.jpg") type("image/jpeg"));
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100vw
}